*{
  font-family: IBM Plex Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: white;
  width: 100%;
}
.cname{
  position: absolute;
left: 5.9%;
}
.searchbutton{
  border: none;
  background: #F2F2F2;
  border-radius: 21px;
}
.account{

width: 220px;
height: 21px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

text-align: right;

color: #2E2E2E;

}
.account button{
  background-color: white;
  color: blue;
}
.button5{
  display: none;
}
.Intro{
  
width: 100%;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%); 
}
.Introinner h3{
  position: absolute;
width: 327px;
height: 23px;
left: 13.8%;
top: 409px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.Introinner{
width: 100%;
height: 440px;
left: 0px;
background: url(./images/Rectangle2.png);
background-repeat:no-repeat ;
background-size: 100% 100%;
}
.Introinner h2{
  position: absolute;
width: 378px;
height: 47px;
left: 13.8%;
top: 358px;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
color: #FFFFFF;
}
.writepost{
  position: absolute;
width: 9.2%;
height: 36px;
left: 67%;
}
.joinbutton{
  position: absolute;
width: 9.6%;
height: 36px;
left: 77.4%;
}
.navbar-brand{
  border-bottom: solid black 0.7%;
}
.mainlocation{
  position: absolute;
left:69.4%;
right: 8.33%;
top: 657.5px;
}
small{
  position: absolute;
left:69.4%;
right: 8.33%;
top: 719.33px;
border-bottom: solid 0.6px gray;
}

.Post1{
  position: absolute;
height: 472px;
left: 1.38%;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
  }
  .Post2{
    position: absolute;
top: 1200px;
  height: 472px;
  left: 1.38%;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
    }

  
  .Post  h9{
    font-size: 18px;
    position: absolute;
    left: 1.38%;
  }
  .Post  h7
  {
    position: absolute;
    left: 1.38%;
    font-weight: bolder;
    font-size: 22px;
  }
  .Post p{
    position: absolute;
    left: 1.38%;
    top: 66%;
    font-size: 22px;
    color:#5C5C5C;
  }
  .Post span{
    position: absolute;
  left: 1.38%;
  font-size: 18px;
  top: 85%;
  }
  .date{
    position: absolute;
    top: 60%;
    left: 3%;
  }
  .location{
      position: absolute;
      top: 60%;
      left: 35%;
    
  }
  .Post button{
    position: absolute;
  left: 1.38%;
  background: #FFFFFF;
  border: 0.7px dashed #A9AEB8;
  box-sizing: border-box;
  border-radius: 8px;
  top: 68%;
  width: 80%;
  }

  .Post h10{
    position: absolute;
  left: 63.75%;
  top: 88%;
  font-size: 14px;
  background: #EDEEF0;
  border-radius: 2px;
  }
  .Post h11{
    position: absolute;
    left: 67.75%;
    top: 88%;
  font-size: 14px;
  }
 
  
  .Other1{
    position: absolute;
  height: 490px;
  left: 1.38%;
  top: 1700px;
  
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  }
  .Other2{
    position: absolute;
  height: 300px;
  left: 1.38%;
  top: 2300px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  }
  .Other2 h9{
    position: absolute;
    top:5%;
    left: 1.68%;
  }
  .Other2 h7{
    position: absolute;
    top:12%;
    left: 1.68%;
  }
  .Other2 h10{
    position: absolute;
    left: 63.75%;
    top: 88%;
  font-size: 14px;
  background: #EDEEF0;
  border-radius: 2px;
  }
  .Other2 h11{
    position: absolute;
    left: 67.75%;
    top: 88%;
  font-size: 14px;
  }
  .jobdate{
    position: absolute;
    top: 27%;
    left: 1.68%;
  }
  .joblocation{
      position: absolute;
      top: 27%;
      left: 48%;
      height: 300px;
    
  }
  .Other2 button{
    position: absolute;
  left: 1.68%;
  top: 55%;
  background: #FFFFFF;
  border: 0.7px dashed #A9AEB8;
  box-sizing: border-box;
  border-radius: 8px;
  }
  .Other2 span{
    position: absolute;
  left: 1.68%;
  top: 78%;
  font-size: 18px;
  }
  .dropdown{
    position: absolute;
  left: 85%;
  top: 49%;
  font-size: 5px;
  background-color: white;
  }
  .acctitle{
    font-weight: bolder;
  }
  .accp{
    margin-left: 19%;
    font-size: 13px;
    font-weight: bold;
  }
  .acch{
    color: #2F6CE5;
    
  }
  input{
    width: 55%;
    height: 46px;
    background: #F7F8FA;
border: 1px solid #D9D9DB;
box-sizing: border-box;
border-radius: 2px 2px 0px 0px;
  }
  .grpbtn{
    margin-top: 10px;
    width: 60%;
height: 40px;

background: #2F6CE5;
border-radius: 20px;
  }
  .fbbtn {
    margin-top: 10px;
    width: 60%;
height: 40px;
border-radius: 20px;
  }
  .gbtn{
    margin-top: 10px;
    width: 60%;
height: 40px;
border-radius: 20px;
  }
  .tc{ 
font-style: normal;
font-size: 11px;
  }
  .forgot{
font-style: normal;
font-weight: bolder;
font-size: 12px;
margin-top: 5%;
margin-left: 15%;
letter-spacing: -0.008em;

color: #000000;

  }
  .accbg{
    position: absolute;
  width: 30%; 
  height: 270px;
  left: 70%;
  top: 10px;
  }
 
  
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .mainlocation { display: none; }   /* hide it elsewhere */
  small{display: none;}
  .joinbutton{
    position: absolute;
    top: 10%;
    width: 140px;
    left: 60%;
    border: white solid 0.6px;
    background: transparent;
  }
  .joinbutton:hover {
    background-color:rgb(54, 53, 53);
    color: white;
    border: white solid 0.6px;
  }
  .writepost{display: none;}
  .navbar-brand{display: none;}
   .one{position:absolute; top: 0; left: 85%;padding: 0;border: none;}
   
   .button5{
     display:inherit;
    position: fixed;
    bottom: 20px;
    left: 90%;
    border-radius: 50%;
    border: none;
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
    width: 54px;
height: 54px;
text-align: center;
  }.accbg{
    display: none;
  }
}
